/* nav starts */
*{
    margin: 0px;
    /* padding: 0px; */
    box-sizing: border-box;
}
nav{
    /* border: 2px solid; */
    height: 80px;
    display: flex;
    background-color: black;
    display: flex;
    position: sticky;
    top: 0px;
    z-index: 1;
}
body{
    background-color: black !important;
    color: white !important;
}
nav #logo{
    /* border: 2px solid red; */
    height: inherit;
    flex-basis: 20%;
    text-align: center;
}

nav #right{
     /* border: 2px solid red; */
     flex-basis: 50%;
     height: inherit;
     color: white;
     font-size: 20px;
     text-transform: capitalize;
}
nav #right ul{
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
nav #right ul a{
    text-decoration: none;
    color: white;
}
nav #right ul a li{
    list-style-type: none;
}
nav #right ul a li:hover{
    text-decoration: underline rgb(242, 10, 122);
}

nav #left{
    margin-left: 20px;
    /* border: 2px solid red; */
    flex-basis: 40%;
    height: inherit;
    color: white;
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-evenly;
}
nav #left a ,nav #left a {
    text-transform: uppercase;
    text-decoration: none;
    color: white;
}
nav #left a #contact,nav #left a #tcs{
    text-transform: uppercase;
    /* text-decoration: none; */
    /* color: white; */
}
nav #left #contact:hover{
    text-decoration: underline;
}
nav #left #tcs:hover{
    text-decoration: underline;
}
/* ends */

/* carousel starts */
/* #carousel_block {
    
    height: 600px;
    /* width: 100%; */

/* } */
/* #carousel_block #carouselExample{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 110px;
 }
#carousel_block .carousel-item active{
    border: 2px solid red;
    height: 600px;
    width: 100%;
} */
#carousel_block .carousel-inner img{
    transition: height 2s linear,widht 2s linear;
}
#carousel_block .carousel-inner img:hover{
    height: 550px;
    width: 1800px;
}

#carousel_block img{
    height: 500px;
    width: 100% !important;
}
/* end */

/* Snapshots block starts */
#snaps{
    color: white;
    height: 250px;
    padding-left: 20px;
    padding-top: 20px;
}
#snaps .img_blk{
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}
#snaps .img_blk div{
    border: 4px solid red;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 170px;
    width: 170px;
    border-radius: 50%;
}
#snaps img{
    height: 150px;
    width: 150px;
    border-radius: 50%;

}
/* Snapshots block ends */

/* cloud start */
#main_blk{
    height: 600px;
    /* border: 2px solid red; */
    display: flex;
    justify-content: space-around;
}
#main_blk p{
    font-weight: lighter;
}
#main_blk .left_cloud{
    height: inherit;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main_blk .left_cloud div{
    height: 400px;
    width: 700px;
}
#main_blk .left_cloud h1{
    font-size: 70px;
}
#main_blk .right_cloud{
    height: inherit;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ends */

/* interest starts */
#interest{
    /* border: 2px solid red; */
    height: 600px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
#interest .top{
    border-bottom: 1px solid gray;
    display: flex;
    justify-content: space-between;
}
#interest .top a{
    color: white;
    text-decoration: underline;
}
#interest .bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
#interest .bottom div span{
    background-color: white;
    color: black;
    display: inline-block;
    height: 30px;
    width: 150px;
    border-radius: 20px;
    text-align: center;
    position: relative;
    top: 40px;
    left: 10px;
}
#interest .bottom div img{
    height: 450px;
    width: 450px;
}
#interest .bottom div p{
    font-size: 30px;
    width: 300px;
    position: relative;
    bottom: 120px;
    
}
/* end */

#discover{
    /* border: 2px solid red; */
    height: 700px;
    width: 100%;
}
#discover div img{
    height: 550px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
#discover .boxes{
    position: absolute;
    top: 2500px;
    left: 300px;
    height: 170px;
    display: flex;
    gap: 50px;
    /* justify-content: space-around; */
    align-items: center;
}
#discover .boxes .box_1{
    background-color: black;
    border: 2px solid red;
    height: inherit;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    bottom: 30px;
}
#discover .boxes .box{
    background-color: black;
    border: 2px solid white;
    height: inherit;
    width: 200px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
#discover .boxes .box_1 p{
    width: 150px;
}
#discover .boxes .box p{
    width: 150px;
}
#discover .boxes .box p::first-line{
    text-transform: uppercase;
}
/* end */
/* boy starts */
#boy{
    height: 1000px;
    width: 100%;
    display: flex;
    background-color: white;
}
#boy .boy_img img{
    height: 800px;
    width: 1200px;
}
#boy .content{
    height: 450px;
    width: 500px;
    color: black;
    background-color: white;
    position: relative;
    top: 155px;
    right: 450px;
}
#boy .content div{
    margin-top: 70px;
    margin-left: 100px;
    gap: 20px;
}
#boy .content div h4{
    font-size: 30px;
    word-spacing: 0.2rem;
    color: brown;
}
#boy .content div span{
    display: inline-block;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: black;
    color: white;
    padding: 10px;
    margin-left: 10px;
}
#boy .content div span i:hover{
    transition: 4s;
}
/* end */
/* footer starts */
footer{
    /* border: 2px solid red; */
    height: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgb(40, 38, 38);
}
 .footer1{
   height: inherit;
    width: 20%;
    line-height: 3;
 }
.footer1 a{
    text-decoration: none;
    display: block;
    font-size: 18px;
    color: white;
}
.footer1 a:hover{
    text-decoration: underline;
}
.footer1 a:first-child, #More{
    font-size: 23px;
}
#tcsfooter{
    /* border: 2px solid rebeccapurple; */
    height: 140px;
    padding: 30px 20px;
}
#tcsfooter #tcs{
    height: inherit;
    display: flex;
    position: relative;
}
#tcsfooter #tcs .left_tcs{
    height: inherit;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
}
.left_tcs div:first-child{
    width: 20%;
}
.left_tcs div:nth-child(2){
    width: 15%;
}
.left_tcs div:nth-child(2) a{
    text-decoration: none;
    color: white;
    /* gap: 15px; */

}
.left_tcs div:nth-child(3){
    width: 25%;
}
.left_tcs div:nth-child(3) p{
    color: white;
    font-size: 20px;
}
.left_tcs div:last-child{
    width: 20%;
}
.left_tcs div:last-child a{
    color: white;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 15px;
    
}
.left_tcs div:last-child a:hover{
    text-decoration: underline;
}
.right_tcs div{
    height: 50px;
    width: 80px;
    border-radius: 40%;
    background-color: pink;
    position: absolute;
    right: -55px;
    top: 25px;
    /* bottom: 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* ends */